body{
    background-color: bisque;
    color: black;
    text-align: center;
}
h1{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
}
img{
    background-color: antiquewhite;
    width: 200px;
    height: 200px;
}
button{
    background-color: antiquewhite;
    text-align: center;
    font-weight: bold;
    color: black;
    border: 5px solid black;
}